<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

  <select name="id" id="product-select" class="product-single__variants">
    {% for variant in product.variants %}
    {% if variant.available %}
    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
    {% else %}
    <option disabled="disabled"> {{ variant.title }} - sold out!</option>
    {% endif %}
    {% endfor %}
  </select>

  {% if product.available and product.variants.size > 1 %}
  {% include 'swatch' with 'Color' %}
  {% endif %}
  {% if product.available and product.variants.size > 1 %}
  {% include 'swatch' with 'Size' %}
  {% endif %}
  
  {% comment %}
  <div class="wrapper--nosides">
    <label for="Quantity" class="quantity-selector">Quantity</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
  </div>
  {% endcomment %}
  <div class="wrapper--nosides">
    <button type="submit" name="add" id="add" class="button">
      <span id="add-text">Add to Cart</span>
    </button>
  </div>
</form>