<div id="nav-search" class="wrapper--nosides bg--bgGray">
  <form action="/search" method="get" class="search-form fs-row" role="search">
    <input type="text" name="q" value="{{ search.terms | escape }}" class="fs-cell fs-all-full" />
    <input type="submit" class="button btn" value="Search store..." style="display: none;" />
  </form>
</div>

<nav id="nav" class="wrapper--nosides">
  <div class="fs-row">
    <div id="nav-logo" class="fs-cell fs-lg-4 fs-md-2 fs-sm-half">
      <a id="nav-logo__desktop" href="/">{{ shop.name }}</a>
    </div>
    <div id="nav-menu" class="fs-cell fs-lg-4 fs-md-2 fs-sm-hide text-center">
      <nav id="nav-menu__wrapper">
        {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
    <div id="nav-cart" class="fs-cell fs-lg-4 fs-md-2 fs-sm-half text-right">
      <a href="#" class="swap" data-swap-target="#nav-search">Search</a>
      <a href="/cart">
        (<span id="cart-count">{{ cart.item_count }}</span>)
        {% comment %}
        <span id="cart-count">{{ cart.item_count }}</span> 
        {{ cart.item_count | pluralize: 'item', 'items' }} — 
        <span id="cart-cost">{{ cart.total_price | money }}</span>
        {% endcomment %}
      </a>
    </div>
  </div>
</nav>
<hr class="divider nomargin">
