{% if section.settings.desktop_bg %}
<div 
  class="hero hero-{{ section.id }} {{ section.settings.hero_height }} hero-{{ section.settings.heading_title | handleize }} background" 
  data-section-id="{{ section.id }}" 
  data-background-options='{"source":{"0px":"{{ section.settings.mobile_bg | img_url: '2048x2048' }}","980px":"{{ section.settings.desktop_bg | img_url: '2048x2048' }}"}}'
  data-section-type="content-block"
>
{% else %}  
<div class="hero hero-{{ section.id }} {{ section.settings.hero_height }} hero-{{ section.settings.heading_title | handleize }}"> 
{% endif %}  
  <div class="hero-content {{ section.settings.text_align }}">
    <div class="fs-row">
      {% if section.settings.text_align == 'text-center' %}
      <div class="fs-cell fs-lg-5 fs-md-4 fs-sm-full fs-all-justify-center">
      {% else %}
      <div class="fs-cell fs-lg-5 fs-md-4 fs-sm-full">
      {% endif %}
        <div class="hero-title">{{ section.settings.heading_title }}</div>
        {% unless section.settings.heading_desc == '' %}
        <div class="hero-desc">{{ section.settings.heading_desc }}</div>
        {% endunless %}
        {% if section.settings.product_link %}
        <div class="hero-cta">
          <hr class="invisible compact">
          <a href="{{ section.settings.product_link }}" class="button button-cta">Solve the Problem</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .hero-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
  }
  .hero-{{ section.id }} .hero-title {
    color: {{ section.settings.heading_color }};
  }
  .hero-{{ section.id }} .hero-desc {
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "Hero Block",
  "class": "index-section index-section--custom-content",
  "settings": [
    {
      "type": "text",
      "id": "heading_title",
      "label": "Title",
      "default": "Custom content"
    },
    {
      "type": "html",
      "id": "heading_desc",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Title color",
      "default": "#BB855B"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#606c76"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "url",
      "id": "product_link",
      "label": "Call to action"
    },
    {
      "type": "select",
      "id": "hero_width",
      "label": "Content Width",
      "default": "fs-lg-half fs-md-half fs-sm-full",
      "options": [
        {
          "value": "fs-lg-half fs-md-half fs-sm-full",
          "label": "Half"
        },
        {
          "value": "fs-xl-5 fs-lg-7 fs-md-4 fs-sm-2 fs-xs-2",
          "label": "Fancy"
        },
        {
          "value": "fs-all-full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_height",
      "label": "Hero Height",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "hero-tall",
          "label": "Tall"
        }
      ]
    },
    {
     "type": "image_picker",
      "id": "desktop_bg",
      "label": "Desktop Background Image"
    },
    {
     "type": "image_picker",
      "id": "mobile_bg",
      "label": "Mobile Background Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Block",
      "category": "Layout"
    }
  ]
}
{% endschema %}
